@import "../../../utilities/variables";

.menu {
  list-style: none;
  margin-right: 2rem;
}

.menuItem a {
  transition: 0.2s;
  color: $dark-3;
}

.menuItem a:hover {
  padding: 0 1rem;
  font-weight: 700;
  color: $primary-3;
}

.menuItem::after {
  display: block;
  content: '';
  width: .125rem;
  height: .625rem;
  background: #ddd;
  margin: 10px;
}